{% load extra_tags %}

<div class="table-responsive">
  <table class="table table-condensed sortable"
         {% if selected %}id="selected"{% endif %}>
    <thead>
    <tr>
      <th></th>
      <th>Field</th>
      <th>Type</th>
      {% if not no_slug %}
      <th>Slug</th>
      <th></th>
      <th></th>
      {% endif %}
    </tr>
    </thead>
    <tbody class="sortable-tb">
    {% for field in fields %}
      <tr data-slug="{{ field.slug }}">
        <td class="handler"><span class="glyphicon glyphicon-align-justify"></span></td>
        <td>{{ field.label | translate:request.language }}</td>
        {% if field.field_type %}
          <td>{{ field.get_field_type_display }}</td>
        {% else %}
          <td>Label</td>
        {% endif %}

        {% if not no_slug %}
          {% if field.field_type %}
            {% url 'edit_field' form.slug field.pk as edit_url %}
            {% url 'delete_field' form.slug field.pk as delete_url %}
          {% else %}
            {% url 'edit_label' form.slug field.pk as edit_url %}
            {% url 'delete_label' form.slug field.pk as delete_url %}
          {% endif %}

          <td>{{ field.slug }}</td>
          <td><a href="{{ edit_url }}">Edit</a></td>
          <td><a href="{{ delete_url }}">Delete</a></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
