{% extends '_common.html' %}
{% load extra_tags %}

{% block scripts %}
 <script>
$(".sortable").sortable({
    items: 'tbody > tr',
    cursor: 'crosshair',
    connectWith: '.sortable',
    axis: 'y',
    dropOnEmpty: true,
    receive: function(e, ui){
     $(this).find("tbody").append(ui.item);
    }
});
 </script>
{% endblock %}

{% block manager_content %}

  <h4>Available fields</h4>
  <table class="table table-condensed sortable">
    <thead>
    <tr>
      <th>Slug</th>
      <th>Field</th>
      <th>Type</th>
    </tr>
    </thead>
    <tbody>
    {% for elem in fields_and_labels %}
      <tr>
        <td>{{ elem.slug }}</td>
        <td>{{ elem.label | translate:request.language }}</td>
        {% if elem.field_type %}
          <td>{{ elem.get_field_type_display }} ({{ elem.field_type }})</td>
        {% else %}
          <td>Label</td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <h4>Selected fields</h4>
  <table class="table table-condensed sortable">
    <thead>
    <tr>
      <th>Slug</th>
      <th>Field</th>
      <th>Type</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

{% endblock %}
