{% extends 'manager/index.html' %}
{% load extra_tags %}

{% block manager_content %}
  <h2>Manage {{ object.title|translate:request.language }}</h2>

  <p>Available fields:</p>
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Slug</th>
      <th>Field</th>
      <th>Type</th>
    </tr>
    </thead>
    <tbody>
    {% for field in object.fields.all %}
      <tr>
        <td>{{ field.slug }}</td>
        <td>{{ field.label | translate:request.language }}</td>
        <td>{{ field.get_field_type_display }} ({{ field.field_type }})</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <p>Please enter the selected fields' slugs separated by "{{ separator }}" in
    the textboxes below</p>

  <form action="" method="POST">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save"/>
  </form>

{% endblock %}
