# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'jel9ng__yk@k!$hxy3m1l#0o*#r5)zfey_xw^o)0#im5@%*v$x'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

TEMPLATE_DEBUG = True

ASSETS_DEBUG = True

ALLOWED_HOSTS = []

FIELDS_SEPARATOR = ','

FRAME_COOKIES = ['__ac', '_ZopeId', 'LOCALIZER_LANGUAGE']
FRAME_URL = 'http://pbe.eionet.europa.eu/aoa/aoa_templates/frame'

DOWNLOAD_URL = 'http://aoa.ew.eea.europa.eu'

CUSTOM_JS = {
    'bibliography-details-each-assessment': 'js/theme-topics.js',
    'general-template': 'js/theme-topics.js',
}

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'aoasurveys',
        'USER': 'db_user',
        'PASSWORD': 'db_pass',
    },
}

FORMS_BUILDER_CHOICES_MAX_LENGTH = 10000
FORMS_BUILDER_FIELD_MAX_LENGTH = 10000
FORMS_BUILDER_LABEL_MAX_LENGTH = 400

from settings import BASE_DIR
import os.path
FORMS_BUILDER_UPLOAD_ROOT = os.path.join(BASE_DIR, 'instance')
