#middle_port h1 {
    padding: 40px 0 0 5px !important;
    margin-top: 0;
}

.dataTables_filter {
    display: none;
}

.filters .first-filter {
    margin-left: 20px;
}
.filters .form-group {
    padding-right: 20px;
}

a.btn-primary{
  color: white !important;
}

ul#id_status {
    list-style-type: none;
}

ul#id_status li {
    display: inline;
}

.paginate_button {
    margin-left: 2px;
    margin-right: 2px;
}

body .modal-dialog {
    width: 800px;
}

.content label {
    display: block;
}

.nav a {
    color: #428bca;
}

.nav {
    margin-bottom: 10px;
}

.ui-sortable-handle.ui-sortable-helper {
    background-color: #eee;
}
/* Tables */
table.table td, table.table th {
    padding: 4px;
}

table .handler {
    color: #ccc;
    cursor: pointer;
}

/* Forms */
.fieldWrapper ul {
    list-style-type: none;
    padding-left: 0;
}

/* Bootstrap forms fixup */
#search label {
    margin-bottom: 0;
}
#search input#query {
    line-height: 10px;
}

.helptext {
    font-style: italic;
}

.dataTables_processing {
  background-color: rgba(230, 230, 230, 0.7);
  border: 2px solid #bbb;
  color: #555;
  font-weight: bold;
  height: 50px;
  position: fixed;
}
